@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

/* page content components */
.custom-shadow {
  box-shadow:
    3px 3px 8px -1px gray,
    -3px 3px 8px -1px gray;
}

:root {
  --background: 255, 255, 255;
  --color: 0, 0, 0;
}

.dark {
  --background: 0, 0, 0;
  --color: 255, 255, 255;
}

.slider:before,
.slider-icon {
  transition: 0.4s;
}

.slider-checkbox:checked + .slider .slider-icon {
  transform: translateX(36px);
}
