body {
  margin: 0;
  /* remove body default margin */
}

/* wrapper to fit all flexboxes */
#wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

#navbar {
   /* sticky navbar */
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 100px;
  font-family: sans-serif;
  background-color: white;
}

#navbar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
}

#logo {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  user-select: none;
  z-index: 1;
}

.nav-item {
  position: relative;
  display: block;
  list-style: none;
  width: fit-content;
  padding: 4px;
  margin-right: 10px;
  user-select: none;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.nav-item a:hover, h1 a:hover, .footer-item a:hover {
  color: gray;
  cursor: pointer;
}

/* page content */
#content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  user-select: none;
  font-family: sans-serif;
  overflow: auto;
}

/* page content components */
.shadow {
  box-shadow: 3px 3px 8px -1px gray, -3px 3px 8px -1px gray;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  margin-left: 20px;
  margin-top: 10px;
  width: fit-content;
  background-color: lightgray;
  transition: background 0.5s ease;
  text-decoration: none;
  border: none;
  color: black;
}

.btn:hover {
  border-radius: 12px;
  color: white !important;
  background: black;
}

.rule-box {
  position: relative;
  padding: 30px 50px 30px 30px;
  max-width: 1200px;
  background-color: lightgray;
  color: black;
  border-left: 3px solid red;
  box-sizing: border-box;
}

h1 {
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: 50px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;        
  height: 10px;
  border-radius: 30px;
  background: black;
}

.section {
  margin-top: 40px;
}

.description {
  margin-top: 40px;
  font-size: 20px;
  width: 100%;
}

#learn-more-btn {
  margin-top: 40px;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card {
  display: inline-block;
  border: 3px solid black;
  box-sizing: border-box;
  background: #353839;
  color: white;
  width: 590px;
  height: fit-content;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}

.project-card img {
  width: 100%;
}

.project-card span {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

.tech-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.tech-card {
  background: transparent;
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

#footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 0px;
  height: 50px;
  width: 100%;
  background: black;
  user-select: none;
}

.footer-item {
  margin-right: 20px;
}

.footer-item a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1220px) {

  #navbar,
  #content {
    width: 100%;
    transform: none;
    left: 0%;
  }

  #content {
    text-align: center;
  }

  #learn-more-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .project-container {
    justify-content: center;
  }
}

/* hamburger menu start */
@media (max-width: 768px) {
  #navbar-container {
    position: absolute;
    left: 0%;
    top: 100%;
    margin-top: 0;
    width: 100%;
    background: white;
    box-shadow: 3px 3px 8px -1px gray, -3px 3px 8px -1px gray;
  }

  #navbar-mobile-icon {
    display: block;
     /* mobile nav icon end of flexbox */
    margin-left: auto;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  #logo {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  #logo {
    font-size: 16px;
  }
}